:host {
  width: 100%;
}

/* Basic styling */

[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  color: dodgerblue;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background 300ms;
  cursor: pointer;
}

/* Pseudo element for check styling */

[type="checkbox"]::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #ccd3d8;
}

/* Checked */

[type="checkbox"]:checked {
  background-color: currentcolor;
}

[type="checkbox"]:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

/* Disabled */

[type="checkbox"]:disabled {
  background-color: #ccd3d8;
  opacity: 0.84;
  cursor: not-allowed;
}

/* IE */

[type="checkbox"]::-ms-check {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #ccd3d8;
}

[type="checkbox"]:checked::-ms-check {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

.ingredients__item {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: var(--card-border-width) solid var(--text-primary);
  padding: var(--card-py) var(--card-px);
  border-radius: var(--card-radius);
  .checkbox,
  .item__left-side {
    flex-grow: 1;
    padding: 1rem;
  }

  .ingredient-name {
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    max-width: 70%;
  }

  .item__right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 15;
    width: calc(100% - 2rem);
  }

  .upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .lower {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .macros {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12rem;
    .circle {
      width: 0.5rem;
      height: 0.5rem;
      margin-right: 0.125rem;
      border-radius: 50%;
      background-color: var(--text-primary);
    }
    .protein-circle {
      background-color: var(--protein);
    }
    .carbs-circle {
      background-color: var(--carbs);
    }
    .fat-circle {
      background-color: var(--fat);
    }
  }
  .macro {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.ingredients__item {
  .calories {
    width: 2rem;
  }
  .amount {
    width: 2rem;
  }

  .item__amount {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--inline-spacing);
  }

  .item__calories {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--inline-spacing);
  }

  .macros__amount {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--input-radius);
  }
  .ingredient-description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-wrap: nowrap;
  }
}
ui-dialog {
  &.edit-profile-dialog {
    // Cambiar el ancho del diálogo
    max-width: 25rem;

    // Estilo para el encabezado
    .ui-dialog-title {
      font-weight: bold;
      font-size: 1.25rem; // 20px
      padding: 1rem;
    }

    // Estilo para el contenido
    .ui-dialog-content {
      padding: 1rem;

      // Estilo para el texto secundario
      .p-text-secondary {
        display: block;
        margin-bottom: 1.25rem; // 20px
      }

      // Estilo para los campos de entrada
      .flex {
        align-items: center;
        gap: 0.75rem; // 12px

        // Estilo para la etiqueta
        label {
          font-weight: bold;
          width: 6rem;
        }

        // Estilo para el campo de entrada
        input {
          flex: 1;
        }
      }

      // Estilo para los botones
      .flex.justify-content-end {
        gap: 0.5rem; // 8px
        margin-top: 1.5rem; // 24px
      }
    }
  }
}
