@import "src/variables";

:host {
  width: 100%;
}
.client-card {
  width: 100%;
  border: $card-border-width solid $text-primary;
  border-radius: $card-radius;
  padding: $card-padding-y $card-padding-x;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

.client-info-bullet {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $inline-buttons;
}
