<div class="client-card">
  <header>
    <span class="client-name"> Pedro Sánchez </span>
    <span class="client-age"> 21 años </span>
  </header>
  <body>
    <div class="client-info-bullet activity">
      <fa-icon [icon]="faPersonRunning"></fa-icon>
      <span>Sedentario</span>
    </div>
    <div class="client-info-bullet objective">
      <fa-icon [icon]="faBullseye"></fa-icon>
      <span>Aumentar de peso lentamente</span>
    </div>
    <div class="client-info-bullet health">
      <fa-icon [icon]="faNotesMedical"></fa-icon>
      <span>Sin preocupaciones de salud</span>
    </div>
  </body>
</div>
