<!-- <div class="itinerary__options">
  <button class="itinerary__option save">
    <i class="pi pi-save"></i>
    <span> Guardar </span>
  </button>
  <button class="itinerary__option import">
    <i class="pi pi-upload"></i>
    <span> Importar </span>
  </button>
  <button class="itinerary__option export">
    <i class="pi pi-file-export"></i>
    <span> Exportar </span>
  </button>
</div> -->
<!-- <div class="week">
  <h2 class="week__title">Semana 1</h2>
  <div class="week__selector">
    <span>Lunes</span>
    <ng-container>
      <i class="selector__icon pi pi-angle-left"></i>
      <i class="selector__icon pi pi-angle-right"></i>
    </ng-container>
  </div>
</div> -->
<div class="meals-day-view gap-2">
  <h2 class="text-2xl font-bold self-start">Comidas</h2>
  <div class="meals items-start">
    <div
      class="meal-container flex flex-col max-h-[35rem] gap-2 overflow-auto"
      *ngIf="meals.length > 0"
    >
      <app-meal-item *ngFor="let meal of meals" [meal]="meal"></app-meal-item>
    </div>
    <div
      class="meal-container overflow-auto border-dashed border-2 border-primary w-full h-48 flex items-center justify-center rounded-xl px-4 py-2"
      *ngIf="meals.length === 0"
    >
      <p class="text-center text-lg text-primary font-bold">
        No hay comidas registradas
      </p>
    </div>

    <div class="control-panel w-full">
      <button
        class="add-btn w-full bg-surface-secondary"
        (click)="showAddMealForm()"
      >
        <i class="pi pi-plus-circle" style="font-size: 2rem"></i>
        <span class="text-primary font-bold text-lg">Añadir comida</span>
      </button>

      <app-add-meal-form
        *ngIf="visible"
        (close)="closeForm()"
      ></app-add-meal-form>

      <!-- <button class="jack-btn">
        <i class="pi pi-bolt"></i>
        <span>Generar con Jack</span>
      </button> -->
    </div>
  </div>
</div>
