:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: var(--main-my) var(--main-mx);
  margin-top: var(--main-mt);
}

.title {
  margin-bottom: 4rem;
}
main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.side-panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: var(--card-mx);
  gap: var(--card-my);
}

.patient {
  width: 100%;
}
app-meal-itinerary {
  flex-grow: 3;
}
