<div class="flex flex-col items-center justify-center h-full w-full bg-main">
  <h1 class="self-start text-xl md:text-3xl font-bold">
    ¡Bienvenido a Nufogy!
  </h1>
  <h2 class="self-start text-lg font-bold">Desafíos</h2>
  <div
    class="border-solid border-primary border-2 rounded-2xl px-3 py-2 flex flex-col"
  >
    <app-quest></app-quest>
  </div>
  <h2 class="self-start text-lg font-bold">Prueba a Jack</h2>
  <div
    class="border-solid border-primary border-2 rounded-2xl px-3 py-2 flex flex-row"
  >
    <div class="flex flex-col items-center justify-start flex-grow-[3]">
      <h3 class="self-start text-md font-bold">Jack: Asistente Virtual</h3>
      <button
        class="flex items-center justify-center rounded-3xl border-solid border-2 border-primary px-3 py-2"
      >
        <i class="pi pi-sparkles"></i>
        <span> ¿Cuál es mi lista de compras? </span>
      </button>
    </div>
    <div class="flex items-center justify-center flex-grow">
      <button>
        <i class="pi pi-microphone"></i>
      </button>
    </div>
  </div>
</div>
