<div class="overlay">
  <form class="meal" #mealForm="ngForm" (ngSubmit)="createMeal(mealForm)">
    <button (click)="closeForm()" class="close-btn">
      <i class="pi pi-times-circle"></i>
    </button>
    <header>
      <h1>Crear comida</h1>
      <div class="meal__layout">
        <div class="meal__calories">
          <!-- <p-chart
            type="doughnut"
            [data]="getMacrosChartData()"
            [options]="getChartOptions()"
          ></p-chart> -->
          <span class="amount">{{ mealSummary.calories }}</span>
          <span class="label">Kcal</span>
        </div>
        <div class="meal__ingredients">
          <div class="meal__name">
            <label for="mealName" class="meal__name-label"
              >Nombre de la comida</label
            >
            <input
              pInputText
              placeholder="ej. Desayuno"
              name="mealName"
              #name="ngModel"
              ngModel
              class="meal__name-input"
            />
          </div>
          <ng-container *ngIf="selectedIngredients.length > 0">
            <div class="ingredient__list">
              <div
                class="ingredient"
                *ngFor="let ingredient of selectedIngredients"
              >
                <span>{{ ingredient.food_name }}</span>
                <span>{{ ingredient.nutrients.calories }} kcal</span>
              </div>
            </div>
          </ng-container>
          <div
            class="ingredient__list--empty"
            *ngIf="selectedIngredients.length === 0"
          >
            <span>¡Agrega ingredientes!</span>
          </div>
        </div>
      </div>
    </header>
    <div class="search-bar">
      <i class="pi pi-search"></i>
      <input
        pInputText
        placeholder="ej. Atún en agua masa drenada"
        #searchQueryWord="ngModel"
        ngModel
        name="searchQueryWord"
      />
    </div>
    <div class="filters">
      <i class="pi pi-filter"></i>
      <div class="filter">
        <span>+ Proteína</span>
      </div>
    </div>
    <div class="ingredients--empty" *ngIf="food_items.length === 0">
      <span>¡No se encontraron ingredientes!</span>
    </div>
    <div class="ingredients" *ngIf="food_items.length > 0">
      <div
        class="ingredients__item"
        *ngFor="let ingredient of food_items; let i = index"
      >
        <!-- <input
          type="checkbox"
          name="selectedIngredient"
          #name="ngModel"
          ngModel
        /> -->
        <p-checkbox
          class="checkbox"
          [(ngModel)]="checkboxesState[i]"
          [binary]="true"
          name="selectedIngredient"
          (onChange)="onIngredientChange($event, ingredient)"
        >
        </p-checkbox>
        <div class="item__right-side">
          <div class="upper">
            <span class="ingredient-name">{{ ingredient.food_name }}</span>
            <span class="item__calories">
              <input
                type="text"
                class="calories"
                name="calories"
                [(ngModel)]="ingredient.nutrients.calories"
              />
              <span> kcal </span>
            </span>
          </div>
          <div class="lower">
            <span class="item__amount">
              <input
                type="text"
                class="amount"
                name="amount"
                [(ngModel)]="ingredient.serving.metric_serving_amount"
              />
              <p-dropdown
                [options]="units"
                class="serving-unit"
                name="selectedUnit"
                [(ngModel)]="ingredient.serving.metric_serving_unit"
              ></p-dropdown>
            </span>
            <span class="macros">
              <div class="macro protein">
                <div class="circle protein-circle"></div>
                <span class="macros__amount">
                  {{ ingredient.nutrients.protein }}
                  <span class="unit">&nbsp;gr</span>
                </span>
              </div>
              <div class="macro carb">
                <div class="circle carbs-circle"></div>
                <span class="macros__amount">
                  {{ ingredient.nutrients.carbohydrates }}

                  <span class="unit">&nbsp;gr</span>
                </span>
              </div>
              <div class="macro fat">
                <div class="circle fat-circle"></div>
                <span class="macros__amount">
                  {{ ingredient.nutrients.total_fat }}

                  <span class="unit">&nbsp;gr</span>
                </span>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="control-panel">
      <button class="submit-btn" type="submit">
        <span>Crear</span>
      </button>
    </div>
  </form>
</div>
