<button
  class="border-solid border-2 border-primary rounded-lg px-2 py-3 bg-main-accent flex flex-col items-center justify-start w-full h-fit"
>
  <div class="flex items-between justify-center w-full mb-4 h-[10rem] gap-2">
    <!-- Title and time -->

    <div class="flex flex-col items-center justify-start w-full">
      <div class="flex justify-between items-start flex-grow w-full">
        <h3 class="font-bold text-2xl text-primary">Desayuno</h3>
        <div class="flex items-center justify-center">
          <i class="pi pi-clock"></i>
          <span>08:00 am</span>
        </div>
      </div>
      <!-- Buttons -->
      <div class="flex items-center justify-center gap-2 flex-grow-[2] w-full">
        <button
          class="border-solid border-2 border-primary rounded-lg px-1 py-2 h-full w-[calc(50%-0.25rem)]"
        >
          <i class="pi pi-plus"></i>
          <span> Añadir Comida </span>
        </button>
        <button
          class="border-solid border-2 border-primary rounded-lg px-1 py-2 bg-surface-primary-accent h-full w-[calc(50%-0.25rem)]"
        >
          <i class="pi pi-sparkles"></i>
          <span> Swap con Jack </span>
        </button>
      </div>
    </div>

    <!-- Meal summary -->
    <div class="flex items-center justify-end gap-4 flex-grow">
      <!-- Calories -->
      <div class="flex flex-col items-center justify-center">
        <span class="text-4xl font-bold text-primary">1240</span>
        <span class="text-sm text-primary-dim">Calorías</span>
      </div>
      <!-- Macros -->
      <div
        class="flex flex-col items-center justify-center gap-2 min-w-52 max-w-52"
      >
        <!-- Macro card -->
        <div
          class="flex items-center justify-between p-2 border-solid border-2 border-primary rounded-md w-full gap-1"
        >
          <span class="font-bold">Proteína</span>
          <span class="text-protein text-lg font-bold">68 gr</span>
        </div>
        <div
          class="flex items-center justify-between p-2 border-solid border-2 border-primary rounded-md w-full gap-1"
        >
          <span class="font-bold">Carbohidratos</span>
          <span class="text-carbs text-lg font-bold">124 gr</span>
        </div>
        <div
          class="flex items-center justify-between p-2 border-solid border-2 border-primary rounded-md w-full gap-1"
        >
          <span class="font-bold">Grasa</span>
          <span class="text-fat text-lg font-bold">47 gr</span>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full flex flex-col max-h-48">
    <app-ingredient-item></app-ingredient-item>
  </div>
</button>
