<div class="relative flex items-center">
  <textarea
    name="message"
    class="w-full h-14 overflow-hidden resize-none p-2 border rounded-3xl pr-[5rem]"
  ></textarea>
  <div class="flex items-center justify-around w-20 absolute right-2">
    <button
      class="font-bold p-2 bg-surface-primary-accent-2 h-8 w-8 rounded-full flex items-center justify-center mr-2"
    >
      <i class="pi pi-microphone" style="font-size: 1.5rem"></i>
    </button>
    <button
      class="font-bold p-2 bg-transparent h-8 w-8 rounded-full flex items-center justify-center"
    >
      <i class="pi pi-send" style="font-size: 1.5rem"></i>
    </button>
  </div>
</div>
