:host {
  width: 100%;
}
.client-card {
  width: 100%;
  border: var(--card-border-width) solid var(--text-primary);
  border-radius: var(--card-radius);
  padding: var(--card-py) var(--card-px);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

.client-info-bullet {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--inline-spacing);
}
