<div
  class="border-solid border-primary border-2 rounded-2xl px-3 py-2 flex flex-col w-[23.4375rem] h-[50.75rem] bg-surface-primary gap-4 flex-grow mx-2 absolute"
  *ngIf="isDisplayed"
>
  <app-jack-side-bar-btn></app-jack-side-bar-btn>

  <!-- Chat -->
  <div
    class="relative flex flex-col flex-grow overflow-y-auto pb-16"
    #container
  >
    <!-- Contenedor de mensajes -->
    <div class="w-full h-full flex flex-col gap-2">
      <h2 class="text-3xl font-bold text-primary" *ngIf="messages.length === 0">
        Hola Pedro, ¿en qué puedo ayudarte hoy?
      </h2>
      <ng-container>
        <app-jack-message
          *ngFor="let message of messages"
          [message]="message"
        ></app-jack-message>
        <!-- Waiting for Jack reply loading spinner -->
        <div
          class="flex flex-col self-start items-center justify-center h-full w-full"
        >
          <ng-container *ngIf="!jackReplied">
            <i class="pi pi-spin pi-spinner"></i>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <!-- Control Panel -->
    <div class="fixed bottom-0 w-[21.6875rem]" #fixedElement>
      <app-jack-message-composer
        [conversationID]="conversationID"
        (newMessageEvent)="newMessageHandler($event)"
      ></app-jack-message-composer>
    </div>
  </div>
</div>
