<div
  class="flex md:hidden flex-row justify-around items-center py-4 w-screen bg-surface-primary-accent fixed bottom-0"
>
  <a routerLink="./" class="pointer-events-auto">
    <fa-icon
      [classes]="[
        'flex',
        'items-center',
        'justify-center',
        'w-8',
        'h-8',
        'text-secondary!'
      ]"
      [icon]="faHome"
    ></fa-icon>
  </a>
  <a routerLink="./diary" class="pointer-events-auto">
    <fa-icon
      [classes]="[
        'flex',
        'items-center',
        'justify-center',
        'w-8',
        'h-8',
        'text-secondary!'
      ]"
      [icon]="faRectangleList"
    ></fa-icon>
  </a>
  <a routerLink="./diets/create" class="pointer-events-auto">
    <fa-icon
      [classes]="[
        'flex',
        'items-center',
        'justify-center',
        'w-8',
        'h-8',
        'text-secondary!'
      ]"
      [icon]="faBowlRice"
    ></fa-icon>
  </a>
  <a routerLink="./dashboard" class="pointer-events-auto">
    <fa-icon
      [classes]="[
        'flex',
        'items-center',
        'justify-center',
        'w-8',
        'h-8',
        'text-secondary!'
      ]"
      [icon]="faChartLine"
    ></fa-icon>
  </a>
</div>
