<button
  class="flex items-center justify-center w-full gap-2 border-solid border-2 border-primary px-1 py-2 rounded-lg bg-surface-primary"
>
  <div class="flex items-center justify-center">
    <input type="checkbox" />
  </div>
  <!-- Ingredient calories -->
  <div
    class="flex flex-col items-center justify-center flex-grow px-2 border-r-2 border-primary"
  >
    <span class="text-primary-dim">Cals</span>
    <span class="text-center text-primary font-bold">{{
      ingredient.data.calories
    }}</span>
  </div>
  <!-- Ingredient details -->
  <div class="w-full flex flex-col items-center justify-start flex-grow-[5]">
    <!-- Ingredient Name and grams -->
    <div class="flex items-center justify-start py-1 gap-1 w-full">
      <span class="text-primary">{{ ingredient.data.food_name }}</span>
      <span class="text-primary font-bold"
        >{{ ingredient.data.metric_serving_amount }}
        {{ ingredient.data.metric_serving_unit }}</span
      >
    </div>
    <!-- Ingredient macros -->
    <div class="flex items-center justify-start w-full">
      <div class="flex items-center justify-center gap-2 w-24">
        <!-- circle -->
        <div class="w-2 h-2 rounded-full bg-protein"></div>
        <span class="font-bold text-primary"
          >{{ ingredient.data.macros.protein }} gr</span
        >
      </div>
      <div class="flex items-center justify-center gap-2 w-24">
        <!-- circle -->
        <div class="w-2 h-2 rounded-full bg-carbs"></div>
        <span class="font-bold text-primary"
          >{{ ingredient.data.macros.carbs }} gr</span
        >
      </div>
      <div class="flex items-center justify-center gap-2 w-24">
        <!-- circle -->
        <div class="w-2 h-2 rounded-full bg-fat"></div>
        <span class="font-bold text-primary"
          >{{ ingredient.data.macros.fat }} gr</span
        >
      </div>
    </div>
  </div>
</button>
