<button
  class="flex items-center justify-center w-full gap-2 border-solid border-2 border-primary px-1 py-2 rounded-lg"
>
  <div class="flex items-center justify-center">
    <input type="checkbox" />
  </div>
  <!-- Ingredient calories -->
  <div
    class="flex flex-col items-center justify-center flex-grow px-2 border-r-2 border-primary"
  >
    <span class="text-primary-dim">Cals</span>
    <span class="text-center text-primary font-bold">234</span>
  </div>
  <!-- Ingredient details -->
  <div class="w-full flex flex-col items-center justify-start flex-grow-[5]">
    <!-- Ingredient Name and grams -->
    <div class="flex items-center justify-start py-1 gap-1 w-full">
      <span class="text-primary">Arroz</span>
      <span class="text-primary font-bold">200 gr</span>
    </div>
    <!-- Ingredient macros -->
    <div class="flex items-center justify-start w-full">
      <div class="flex items-center justify-center gap-2 w-16">
        <!-- circle -->
        <div class="w-2 h-2 rounded-full bg-protein"></div>
        <span class="font-bold text-primary">25 gr</span>
      </div>
      <div class="flex items-center justify-center gap-2 w-16">
        <!-- circle -->
        <div class="w-2 h-2 rounded-full bg-carbs"></div>
        <span class="font-bold text-primary">12 gr</span>
      </div>
      <div class="flex items-center justify-center gap-2 w-16">
        <!-- circle -->
        <div class="w-2 h-2 rounded-full bg-fat"></div>
        <span class="font-bold text-primary">1.2 gr</span>
      </div>
    </div>
  </div>
</button>
