.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: white;
  position: relative;
  overflow: hidden;
  width: 65vw;
  height: 80vh;
  padding: var(--card-py) var(--card-px);
  border-radius: var(--card-radius);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;

  i {
    font-size: 2rem;
    color: var(--text-primary);
  }
}

.meal {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
    .meal__layout {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    .meal__name {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: var(--card-my);
      padding: 1rem 0;
    }

    .meal__ingredients {
      flex-grow: 6;
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    gap: var(--card-my);
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.meal__name-input {
  flex-grow: 1;
  border-radius: var(--card-radius);
  padding: var(--input-py) var(--input-px);
}

.meal__calories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 2;

  .amount {
    font-size: var(--accent-font-size);
  }
}

.ingredient__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--inline-spacing);
  max-width: 29rem;
  overflow-x: auto;
}

.ingredient__list--empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 8rem;
  border: var(--card-border-width) dashed var(--text-primary);
  background-color: var(--bg-main);
  border-radius: var(--card-radius);
}
.ingredient {
  display: flex;
  flex-direction: column;
  gap: var(--inline-spacing);
  align-items: center;
  justify-content: center;
  border: var(--card-border-width) solid var(--text-primary);
  border-radius: var(--card-radius);
  padding: 1rem;
  width: 8rem;
  height: 8rem;

  span {
    width: 100%;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
  }
}

.search-bar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  i {
    flex-grow: 1;
    text-align: end;
    padding: 0 1rem;
  }

  input {
    flex-grow: 9;
    border-radius: var(--search-bar-radius);
    padding: var(--input-py) var(--input-px);
  }
}

.filters {
  display: flex;
  gap: var(--inline-spacing);
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--card-radius);
  border: var(--card-border-width) solid var(--text-primary);
  padding: var(--btn-py) var(--btn-py);
}

.ingredients {
  overflow-y: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: calc(var(--card-my) / 2);
  width: 100%;
}

.control_panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 1rem 0;

  .submit-btn {
    justify-self: flex-end;
  }
}
