:host {
  margin: 0 var(--card-mx);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.meals-day-view {
  display: flex;
  flex-direction: row;
  width: 100%;

  .meals {
    display: flex;
    flex-direction: column;
    gap: var(--card-my);
    width: 100%;
  }
}

.meal {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--card-py) var(--card-px);
  border: var(--card-border-width) solid var(--text-primary);
  border-radius: var(--card-radius);
  background-color: var(--bg-main-accent);

  .l-meal {
    display: flex;
    flex-direction: column;
  }
}

.meal__icon {
  padding: 1rem;
}

.meal__macros {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 0.35rem;
}

.macros__item {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.selector__icon {
  font-size: 1rem;
}

.itinerary__options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--inline-spacing);
  width: 100%;
}

.week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.control-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--inline-spacing);
  button {
    display: flex;
    justify-content: center;
    gap: var(--inline-spacing);
    align-items: center;
    padding: var(--btn-py) var(--btn-px);
    border: var(--card-border-width) solid var(--text-primary);
    background-color: transparent;
    border-radius: var(--card-radius);
    width: 50%;
  }
}

.itinerary__option {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--card-border-width) solid var(--text-primary);
  border-radius: var(--card-radius);
  padding: var(--btn-py) var(--btn-px);
  flex-grow: 1;
  gap: var(--btn-icon-text-spacing);
}
