@import "src/variables";

.meals-day-view {
  display: flex;
  flex-direction: row;

  .hours {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-right: 4rem;
  }

  .meals {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }
}

.meal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 1.5rem 1rem;
  margin: 0 2rem;
  border: $card-border-width solid $text-primary;
  border-radius: $card-radius;
  background-color: $background-main-accent;

  .l-meal {
    display: flex;
    flex-direction: column;
  }
}

.meal__icon {
  padding: 1rem;
}

.meal__macros {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 0.35rem;
}

.macros__item {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.selector__icon {
  font-size: 1rem;
}

.itinerary__options {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.control-panel {
  display: flex;
  margin: 0 2rem;
  align-items: center;
  justify-content: center;
  gap: $inline-buttons;
  button {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: 1rem 2rem;
    border: $card-border-width solid $text-primary;
    background-color: transparent;
    border-radius: $card-radius;
    width: 50%;
  }
}

.itinerary__option {
  border: $card-border-width solid $text-primary;
  border-radius: $card-radius;
  padding: 0.75rem 1.25rem;
}
