<div class="upper-banner">
  <span class="nufogy-logo">Logo de Nufogy</span>
</div>
<form class="login-form" action="submit">
  <h1 class="login-form__title">Iniciar Sesión</h1>
  <div class="input-field-container" [ngSwitch]="step">
    <span class="p-float-label" *ngSwitchCase="'username'">
      <input
        pInputText
        id="username"
        [(ngModel)]="username"
        type="text"
        class="login-form_field username-field"
      />
      <label for="username">Correo electrónico o teléfono</label>
    </span>
    <span class="p-float-label" *ngSwitchCase="'password'">
      <input
        pInputText
        id="password"
        [(ngModel)]="password"
        type="password"
        class="login-form_field password-field"
      />
      <label for="password">Ingresa tu contraseña</label>
    </span>
  </div>
  <span class="login-form__msg">
    <span>¿No tienes una cuenta?&nbsp;</span>
    <a href="" class="guest_link">Continua como invitado</a>
  </span>

  <div class="login-form__btns">
    <button class="btn register-btn">
      <span>Crear cuenta</span>
    </button>
    <button class="btn ok-btn" (click)="validUser()">
      <span> Siguiente </span>
    </button>
  </div>
</form>
