<div class="flex flex-col items-center justify-center w-full">
  <!-- Months -->
  <div class="flex items-center justify-center">
    <i class="pi pi-angle-left"></i>
    <div
      class="months flex items-center justify-between w-full border-2 border-solid rounded-lg border-b-0 border-primary rounded-b-none"
    >
      <button
        class="px-3 py-2 flex items-center justify-center rounded-none border-r-2 border-solid border-primary"
      >
        <span>Marzo</span>
      </button>
      <button
        class="px-3 py-2 flex items-center justify-center rounded-none border-r-2 border-solid border-primary"
      >
        <span>Abril</span>
      </button>
      <button
        class="px-3 py-2 flex items-center justify-center rounded-none border-r-2 border-solid border-primary"
      >
        <span>Mayo</span>
      </button>
      <button
        class="px-3 py-2 flex items-center justify-center rounded-none border-r-2 border-solid border-primary"
      >
        <span>Junio</span>
      </button>
      <button
        class="px-3 py-2 flex items-center justify-center rounded-none border-r-2 border-solid border-primary"
      >
        <span>Julio</span>
      </button>
    </div>
    <i class="pi pi-angle-right"></i>
  </div>
  <!-- Weekdays -->

  <div
    class="weekdays flex items-center justify-evenly w-full border-2 border-solid border-primary rounded-md"
  >
    <button
      class="border-r-2 border-solid border-primary p-2 flex items-center justify-center w-full"
    >
      <span class="font-bold">13</span>
    </button>
    <button
      class="border-r-2 border-solid border-primary p-2 flex items-center justify-center w-full"
    >
      <span class="font-bold">14</span>
    </button>
    <button
      class="border-r-2 border-solid border-primary p-2 flex items-center justify-center w-full"
    >
      <span class="font-bold">15</span>
    </button>
    <button
      class="border-r-2 border-solid border-primary p-2 flex items-center justify-center w-full"
    >
      <span class="font-bold">16</span>
    </button>
    <button
      class="border-r-2 border-solid border-primary p-2 flex items-center justify-center w-full"
    >
      <span class="font-bold">17</span>
    </button>
    <button
      class="border-r-2 border-solid border-primary p-2 flex items-center justify-center w-full"
    >
      <span class="font-bold">18</span>
    </button>
    <button
      class="border-r-2 border-solid border-primary p-2 flex items-center justify-center w-full"
    >
      <span class="font-bold">19</span>
    </button>
  </div>
</div>
