<div
  class="border-solid border-primary border-2 rounded-2xl px-3 py-2 flex flex-row w-96"
>
  <div class="flex flex-col items-start justify-center flex-grow-[3]">
    <h3 class="self-start text-md font-bold">Jack: Asistente Virtual</h3>
    <button
      class="flex items-center justify-center rounded-3xl border-solid border-2 border-primary px-3 py-2"
    >
      <i class="pi pi-sparkles"></i>
      <span> ¿Cuál es mi lista de compras? </span>
    </button>
  </div>
  <div class="flex items-center justify-center flex-grow">
    <button
      class="rounded-full w-12 h-12 p-2 border-solid border-2 border-primary flex items-center justify-center"
    >
      <i
        class="pi pi-microphone"
        style="color: var(--text-primary); font-size: 1.5rem"
      ></i>
    </button>
  </div>
</div>
