<div
  class="border-solid border-primary border-2 rounded-2xl px-3 py-2 flex flex-col w-96 bg-surface-primary gap-4 flex-grow"
>
  <div class="flex flex-row">
    <div class="flex flex-col items-start justify-center flex-grow-[3]">
      <h3 class="self-start text-md font-bold">Jack: Asistente Virtual</h3>
      <button
        class="flex items-center justify-center rounded-3xl border-solid border-2 border-primary px-3 py-2"
      >
        <i class="pi pi-sparkles"></i>
        <span> ¿Cuál es mi lista de compras? </span>
      </button>
    </div>
    <div class="flex items-center justify-center flex-grow">
      <button
        class="rounded-full w-16 h-16 p-2 border-solid border-2 border-primary flex items-center justify-center bg-surface-primary-accent"
      >
        <i
          class="pi pi-microphone"
          style="color: var(--text-primary); font-size: 2rem"
        ></i>
      </button>
    </div>
  </div>

  <h2 class="text-3xl font-bold text-primary">
    Hola Pedro, ¿en qué puedo ayudarte hoy?
  </h2>
  <!-- <div
    class="bg-main border-solid border-2 border-primary px-2 py-3 h-full rounded-lg"
  ></div> -->
</div>
