:host {
  width: 100%;
}

.ingredients__item {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: var(--card-border-width) solid var(--text-primary);
  padding: var(--card-py) var(--card-px);
  border-radius: var(--card-radius);
  .checkbox,
  .item__left-side {
    flex-grow: 1;
    padding: 1rem;
  }

  .ingredient-name {
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    max-width: 70%;
  }

  .item__right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 15;
    width: calc(100% - 2rem);
  }

  .upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .lower {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .macros {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12rem;
    .circle {
      width: 0.5rem;
      height: 0.5rem;
      margin-right: 0.125rem;
      border-radius: 50%;
      background-color: var(--text-primary);
    }
    .protein-circle {
      background-color: var(--protein);
    }
    .carbs-circle {
      background-color: var(--carbs);
    }
    .fat-circle {
      background-color: var(--fat);
    }
  }
  .macro {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.ingredients__item {
  .calories {
    width: 2rem;
  }
  .amount {
    width: 2rem;
  }

  .item__amount {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--inline-spacing);
  }

  .item__calories {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--inline-spacing);
  }

  .macros__amount {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--input-radius);
  }
  .ingredient-description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-wrap: nowrap;
  }
}
ui-dialog {
  &.edit-profile-dialog {
      // Cambiar el ancho del diálogo
      max-width: 25rem;

      // Estilo para el encabezado
      .ui-dialog-title {
          font-weight: bold;
          font-size: 1.25rem; // 20px
          padding: 1rem;
      }

      // Estilo para el contenido
      .ui-dialog-content {
          padding: 1rem;

          // Estilo para el texto secundario
          .p-text-secondary {
              display: block;
              margin-bottom: 1.25rem; // 20px
          }

          // Estilo para los campos de entrada
          .flex {
              align-items: center;
              gap: 0.75rem; // 12px

              // Estilo para la etiqueta
              label {
                  font-weight: bold;
                  width: 6rem;
              }

              // Estilo para el campo de entrada
              input {
                  flex: 1;
              }
          }

          // Estilo para los botones
          .flex.justify-content-end {
              gap: 0.5rem; // 8px
              margin-top: 1.5rem; // 24px
          }
      }
  }
}
