<div class="ingredients__item">
  <div class="item__left-side">
    <input
      type="checkbox"
      [(ngModel)]="isChecked"
      (change)="onIngredientChange($event)"
    />
  </div>
  <div class="item__right-side">
    <div class="upper">
      <span class="ingredient-name">{{ food_item.food_name }}</span>
    </div>
    <div class="lower">
      <span class="ingredient-description">{{
        food_item.food_description
      }}</span>
    </div>
  </div>
</div>
<app-add-ingredient-form
  *ngIf="ingredientFormIsVisible"
  [food_id]="food_item.food_id"
  (cancelAddIngredient)="cancelAddIngredient()"
  (addIngredientEvent)="this.closeIngredientForm()"
>
</app-add-ingredient-form>
