<div class="kcal-slide">
  <h2>Calorías</h2>
  <div class="body">
    <div class="progress-circle-container">Circle progress</div>
    <div class="info">
      <span class="info__item bmr-flag">
        <i class="pi pi-flag-fill"></i>
        <div class="item__right">
          <span class="item__title"> BMR </span>
          <span class="item__amount"> 9999 </span>
        </div>
      </span>
      <span class="info__item lifestyle-flag">
        <i class="pi pi-flag-fill"></i>
        <div class="item__right">
          <span class="item__title"> Estilo de vida </span>
          <span class="item__amount"> 9999 </span>
        </div>
      </span>
      <span class="info__item activity-flag">
        <i class="pi pi-flag-fill"></i>
        <div class="item__right">
          <span class="item__title"> Actividad física </span>
          <span class="item__amount"> 9999 </span>
        </div>
      </span>
    </div>
  </div>
</div>
