<div class="flex flex-col w-full items-center justify-center gap-2">
  <!-- Streak -->
  <div class="flex gap-2 items-center justify-center w-full">
    <div
      class="flex flex-col border-solid border-primary border-2 rounded-2xl px-2 py-4 items-center justify-around w-[calc(50%-0.25rem)] h-48 md:w-[11.6875rem] gap-2"
    >
      <div class="w-16 h-16">
        <img
          ngSrc="assets/images/streak-active.webp"
          alt="Fueguito"
          width="128"
          height="128"
        />
      </div>
      <h2 class="text-4xl font-bold text-primary">1</h2>
      <span class="text-sm text-primary-dim">Tu racha actual</span>
    </div>
    <div
      class="flex flex-col border-solid border-primary border-2 rounded-2xl px-2 py-4 items-center justify-around w-[calc(50%-0.25rem)] h-48 md:w-[11.6875rem] gap-2"
    >
      <div class="w-16 h-16">
        <img
          ngSrc="assets/images/longest-streak-active.webp"
          alt="Fueguito morado"
          width="128"
          height="128"
        />
      </div>
      <h2 class="text-4xl font-bold text-primary">12</h2>
      <span class="text-sm text-primary-dim">Tu racha más larga</span>
    </div>
  </div>

  <!-- Lost weight card -->
  <div
    class="flex items-center justify-center w-full border-solid border-primary border-2 rounded-2xl px-2 py-4"
  >
    <i class="pi pi-arrow-down flex-grow" style="font-size: 2rem"></i>
    <div class="flex flex-col items-center justify-center flex-grow-[4]">
      <div class="flex flex-col items-center justify-center">
        <span class="text-sm text-primary">Última semana</span>
        <h2 class="text-4xl font-bold text-primary">1.5 kg</h2>
      </div>
      <span class="text-base text-primary"> Tu peso objetivo: </span>
      <span class="w-full h-6">
        <p-progressBar [value]="weightObjectiveProgress"> </p-progressBar>
      </span>
    </div>
  </div>
</div>
