@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

:root {
  // Font sizes
  --font-size-base: 16px;
  --font-size-scale: 1.2;

  --h1-font-size: calc(
    var(--font-size-base) * var(--font-size-scale) * var(--font-size-scale)
  ); // h1 size (increase scale factor as needed)
  --h2-font-size: calc(
    var(--font-size-base) * var(--font-size-scale)
  ); // h2 size
  --h3-font-size: calc(
    var(--font-size-base) * var(--font-size-scale)
  ); // h3 size
  --body-font-size: var(--font-size-base); // Body text
  --span-font-size: calc(
    var(--font-size-base) / var(--font-size-scale)
  ); // Smaller size for spans
  --label-font-size: var(--body-font-size);
  --accent-font-size: calc(
    var(--body-font-size) * var(--font-size-scale) * var(--font-size-scale) *
      var(--font-size-scale)
  );

  // Btns
  --btn-primary-font-size: var(--body-font-size);
  --btn-primary-radius: 3rem;
  --btn-primary-outline: 0.0675rem;
  --btn-primary-px: 0.75rem;
  --btn-primary-py: 0.25rem;

  // Primitives
  --dark-gray: #171617;
  --bermuda-gray: #7383a3;
  --blush: #b1476a;
  --silver-chalice: #a2a2a2;
  --fedora: #747374;
  --moody-blue: #7e77d5;
  --lavender-gray: #c4bed9;
  --oxford-blue: #002147;
  --porcelain: #e8eeee;
  --silver: #c0c0c0;
  --pastel-blue: #374e7b;
  --light-blue: #bed8d9;
  --light-purple: #d2c8c7;
  --dark-gray-2: #d2c8c7;
  --cararra: #eeeee8;
  --digital-yellow: #f1e287;
  --sunflower: #e6cd30;
  --xoxo: #d88491;
  --fleur-de-lis: #a48abb;
  --neptune: #6fb3b3;
  --wisteria: #a46fb3;
  --shamrock: #31d2a4;
  --green-pea: #215a4a;
  --blue-dianne: #21455a;
  --lilac-blush: #9782d8;

  // Tokenization
  --protein: var(--xoxo);
  --carbs: var(--fleur-de-lis);
  --fat: var(--digital-yellow);
  --quest: var(--sunflower);
  --link: var(--neptune);
  --link-accessed: var(--wisteria);
  --jack: var(--blue-dianne);

  --bg-main: var(--porcelain);
  --bg-main-accent: var(--cararra);

  --surface-primary: var(--light-blue);
  --surface-primary-accent: var(--lavender-gray);
  --surface-primary-accent-2: var(--lilac-blush);

  --surface-secondary: var(--pastel-blue);
  --surface-secondary-accent: var(--blush);

  --surface-tertiary: var(--light-purple);
  --surface-tertiary-accent: var(--oxford-blue);

  --text-primary: var(--dark-gray);
  --text-secondary: var(--silver);
  --text-primary-dim: var(--silver-chalice);
  --text-secondary-dim: var(--fedora);

  // spacing
  --card-mx: 2rem;
  --inline-spacing: 0.25rem;
  --btn-icon-text-spacing: 0.2rem;
  --card-my: 1rem;
  --main-mx: 8rem;
  --main-my: 0;
  --main-mt: 4rem;

  // radius
  --card-radius: 1rem;
  --search-bar-radius: 2.5rem;
  --input-radius: 0.5rem;

  // border width
  --card-border-width: 0.125rem;

  // line-height
  --label-line-height: 0.5rem;
  --btn-span-line-height: 0.25rem;

  // Padding
  --card-px: 0.75rem;
  --card-py: 0.5rem;
  --btn-px: 0.75rem;
  --btn-py: 1.25rem;
  --input-px: 0.25rem;
  --input-py: 0.5rem;
}

// @media (min-width: 768px) {
//   :root {

//   }
// }

// @media (min-width: 992px) {
//   :root {

//   }
// }
