// Font sizes
$font-size-base: 16px;
$font-size-scale: 1.2;

$h1-font-size: calc(
  #{$font-size-base} * #{$font-size-scale} * #{$font-size-scale}
); // h1 size (increase scale factor as needed)
$h2-font-size: calc(#{$font-size-base} * #{$font-size-scale}); // h2 size
$h3-font-size: calc(#{$font-size-base} * #{$font-size-scale}); // h3 size
$body-font-size: #{$font-size-base}; // Body text
$span-font-size: calc(
  #{$font-size-base} / #{$font-size-scale}
); // Smaller size for spans
$label-font-size: #{$body-font-size};
$accent-font-size: calc(
  #{$body-font-size} * #{$font-size-scale} * #{$font-size-scale} * #{$font-size-scale}
);

// Btns
$btn-primary-font-size: #{$body-font-size};
$btn-primary-border-radius: 1rem;

// Primitives
$dark-gray: #171617;
$bermuda-gray: #7383a3;
$blush: #b1476a;
$silver-chalice: #a2a2a2;
$fedora: #747374;
$moody-blue: #7e77d5;
$oxford-blue: #002147;
$porcelain: #e8eeee;

$silver: #c0c0c0;
$pastel-blue: #374e7b;
$light-blue: #bed8d9;
$light-purple: #d2c8c7;
$dark-gray-2: #d2c8c7;
$cararra: #eeeee8;

// Tokenization
$background-main: $porcelain;
$background-main-accent: $cararra;

$surface-primary: $light-blue;
$surface-primary-accent: $moody-blue;

$surface-secodary: $pastel-blue;
$surface-secodary-accent: $blush;

$surface-tertiary: $light-purple;
$surface-tertiary-accent: $oxford-blue;

$text-primary: $dark-gray;
$text-secondary: $silver;
$text-primary-dim: $silver-chalice;
$text-secondary-dim: $fedora;

// spacing
$card-mx: 2rem;
$inline-buttons: 0.25rem;

// radius
$card-radius: 1rem;
$search-bar-radius: 2.5rem;

// border width
$card-border-width: 0.125rem;

// line-height
$label-line-height: 0.5rem;

// Responsive breakpoints
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
