@import "variables";
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";



@mixin btn-primary {
  box-shadow: 0 3px 6px rgba(0, 0, 0), 0 3px 6px rgba(0, 0, 0);
  transform: translateY(1px) translateX(-5px);
  border: var(--btn-primary-outline) solid var(--text-primary);
  border-radius: var(--btn-primary-radius);
  background-color: var(--surface-primary);
  padding: var(--btn-primary-py) var(--btn-primary-px);
}
