@import "variables";
@import "primeicons/primeicons.css";

@font-face {
  font-family: "Josefin Sans";
  src: url("assets/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

body {
  font-family: "Josefin Sans";
  font-size: var(--font-size-base);
  background-color: var(--bg-main);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

ul {
  list-style: none;
}

a {
  color: inherit; /* Inherit the color from the parent element */
  text-decoration: none; /* Remove the default underline */
}

button {
  span {
    line-height: var(--btn-span-line-height);
  }
}

main {
  margin: var(--main-my) var(--main-mx);
}

// Components (Mixins)

@mixin btn-primary {
  box-shadow: 0 3px 6px rgba(0, 0, 0), 0 3px 6px rgba(0, 0, 0);
  transform: translateY(1px) translateX(-5px);
  border: var(--btn-primary-outline) solid var(--text-primary);
  border-radius: var(--btn-primary-radius);
  background-color: var(--surface-primary);
  padding: var(--btn-primary-py) var(--btn-primary-px);
}
