@import "variables";
@import "primeicons/primeicons.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: $h1-font-size;
}

ul {
  list-style: none;
}

a {
  color: inherit; /* Inherit the color from the parent element */
  text-decoration: none; /* Remove the default underline */
}
