<div
  class="rounded-lg bg-main-accent flex flex-col items-center justify-center gap-4 flex-grow my-16"
>
  <h1>Diario</h1>
  <span>Registra tus comidas del día</span>
</div>
<main class="flex items-start justify-center w-full h-full mx-0 md:mx-auto">
  <!-- Panel de comidas -->
  <div class="flex flex-col items-center justify-center">
    <!-- Fechas -->
    <app-week-bar></app-week-bar>
    <div class="mx-8 flex flex-col items-center justify-center">
      <h2 class="self-start text-2xl font-bold text-primary">
        Comidas del día
      </h2>
      <!-- Comidas del día -->
      <div class="flex flex-col items-center justify-center gap-2 w-full">
        <!-- Meal -->
        <app-meal-item></app-meal-item>
      </div>
    </div>
  </div>
  <!-- meal summary -->
  <!-- <div class="flex flex-col items-start justify-center">
    <app-meal-summary></app-meal-summary>
    <app-diary-jack></app-diary-jack>
  </div> -->
</main>
